@media(max-width:1200px) {
  .container {
    max-width: 960px;

  }

  .header__cards {
    grid-template-columns: none;
    grid-template-areas:
      ' o t '
      ' th th ';

  }

  .card_1 {
    padding: 0 15px;
  }

  .card_2 {
    padding: 0 15px;
  }

  .nav {
    flex-direction: column;
    gap: 30px;
  }
  .main__card__1_inf h2 {
  
    text-transform: none;
    
}
.main__down {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

}



@media(max-width:992px) {

  .container {

    max-width: 720px;
  }

  .nav__list {

    flex-direction: column;
  }

  .header__card_2_img {
    max-width: 94px;
  }

  .header__card_1_img {
    max-width: 94px;
  }

  .card_2_inf {
    align-items: flex-start;
  }

  .card_1_inf {
    align-items: flex-start;
  }

  .card_3 {
    height: 500;
  }
  .card__1 img{

  max-width: 100px;
  }
  .main__card__1_inf h2{
    font-size: 15px;
  }
  .card__1{

    padding: 15px;
  }
  .footer__div {
  
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
    justify-content: initial;
}
.list_1 {

 padding-bottom: 0;
  flex-direction: column;
  gap: 21px;
  align-items: center;}


  .footer__list__1 {
  
    flex-direction: column;
    align-items: center;
}
.contact {


  align-items: center;
  padding-bottom: 30px;
  justify-content: center;
}
.text_text {
 
  flex-direction: column;
 
  align-items: center;
}

.text_footer_2 {

  justify-content: center;}
  .icons__fotter {

    justify-content: center;
    padding-bottom: 20px;}
}

@media(max-width:768px) {
  .container {
    max-width: 540px;
  }

  .card_3_inf {
    align-items: flex-start;
  }
  .main__cards{
    grid-template-columns: 1fr 1fr;
  }
  .down_2_text {
    padding-left: 30px;
  }
  .down_1_text{
    padding-left: 30px;
  }
}

@media(max-width:540px) {
  .container{
    max-width: 320px;
  }
  .header__cards {
    grid-template-columns: 1fr;
    grid-template-areas:
      ' o '
      ' t '
      'th';
  }
  .header__card_3_img{
    max-width: 200px;
  }
  .card_3 {

    height: 500px;

}
.main__cards{

  grid-template-columns: minmax(305px, 201px);
}


}
@media(max-width:375px) {
  .card_1 {
    flex-direction: column;}
  .card_2 {
    flex-direction: column;}
  .card_3 {
    flex-direction: column;}
    .card_1_inf {
      align-items: center;
  }
    .card_2_inf {
      align-items: center;
  }
    .card_3_inf {
      align-items: center;
  }
  .card_1:nth-child(1)::after{
    top: 0;
    left: 0;
    
  }
  .card_2:nth-child(2)::after{
    top: 0;
    left: 0;
    
  }
  .card_3:nth-child(3)::after{
    top: 0;
    left: 0;
    
  }
  .card_3 {
    height: 294px;
    padding: 5px 15px;
}
}